@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --primary-color: #1A1A1D;
  --secondary-color: #66FCF1;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: black;
  background-color: var(--primary-color);
  scroll-behavior: smooth;  
  overflow-x: hidden;
  max-width: fit-content;
}
/* =============NAVIGATION BAR DESKTOP ===========================*/

.nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.6s;
  z-index: 19;
}

.logo{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 15px;
  padding-left: 50px;
  color: #fff;
}

.nav_links{
  top: 5px;
  left: 55%;
  display: flex;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 4px;
  padding: 15px;
  padding-right: 30px;
  list-style-type: none;
}

.nav_links li{
  padding-right: 50px;
}

.nav_links li a{
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

.nav_links li a:hover{
  color: var(--secondary-color);
  transition: 0.5s;
}

.nav_links li a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #66FCF1;

  transform: scale(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.nav_links li a:hover::after{
  transform: scaleX(1);
}

/* =================== NAVIGATION MOBILE VIEW ========================*/

.toggle{
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 83%;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger{
  position: absolute;
  top: 0;
  left: 83%;
  z-index: 1;
  width: 55px;
  height: 50px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div{
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after{
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 100%;
  background: inherit;
}

.menu-wrap .hamburger > div::after{
  top: 10px;
}

/* TOGGLER ANIMATE */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* TURN LINES INTO X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after{
  top: 0;
  transform: rotate(90deg);
}

/* ROTATE ON HOVER */
.menu-wrap .toggler:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}

/* =================== SCROLLBAR ============================== */
::-webkit-scrollbar{
  width: 9px;
}

::-webkit-scrollbar-thumb{
  background: var(--secondary-color);
  border-radius: 6px;
}

/* =================== HOME PAGE ============================== */
.home{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home svg{
  position: absolute;
  top: 1px;
  left: 50%;
  margin: 6%;
  margin-right: 7%;
}

.home_title{
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 45%;
  margin-top: 6%;
}

.home_title h2{
  color: #fff;
  padding: 10px;
}

.home_title span{
  color: var(--secondary-color);
  font-size: larger;
  font-weight: 900;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid var(--secondary-color);
}

/* Button */
.btn {
  cursor: pointer;
  color: #fff;
  width: 150px;
  font-size: 22px;
  font-weight: 500;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 40px;
  box-shadow: 0 0 1px 1px var(--secondary-color);
  padding: 6px 15px;
  transition: 0.3s;
}

.btn:hover{
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--primary-color);
  border-color:  var(--secondary-color);
  font-weight: 500;
}

.social-media{
  display: flex;
  justify-content: space-between;
  margin-right: 45%;
  margin-top: 3%;
}


.card1{
  margin: 18px;
  height: 70px;
  width: 55px;
  border-radius: 7px;
  box-shadow: 5px 5px 12.5px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
}
.card1 .image{
  padding: 5px;
  
}

.card1 .image img{
  height: 30px;
  width: 30px;
  transform: translateZ(5px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.card1 .image img:hover{
  fill: #fff;
  height: 35px;
  width: 35px;
  transform: translateZ(5px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.card2{
  margin: 18px;
  height: 70px;
  width: 55px;
  border-radius: 7px;
  box-shadow: 5px 5px 12.5px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
}

.card2 .image{
  padding: 5px;
  
}

.card2 .image img{
  height: 35px;
  width: 35px;
  transform: translateZ(5px);
  transition: 0.5s;
}

.card2 .image img:hover{
  height: 40px;
  width: 40px;
  transform: translateZ(5px);
}

.card3{
  margin: 18px;
  height: 70px;
  width: 55px;
  border-radius: 7px;
  box-shadow: 5px 5px 12.5px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
}

.card3 .image{
  padding: 5px;
  
}

.card3 .image img{
  height: 30px;
  width: 30px;
  transform: translateZ(5px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.card3 .image img:hover{
  height: 35px;
  width: 35px;
  transform: translateZ(5px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/* ========================== ABOUT PAGE ========================== */
.about{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.about .heading h1{
  margin-top: 7%;
  margin-left: 10%;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 5px;
  writing-mode:vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}

.about .profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .profile h1{
  margin-left: 9%;
  margin-bottom: -2%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  z-index: 5;
}

.about .profile h1 span:nth-last-of-type(1){
  margin-left: 50%;
}

.about .profile .img-btn{
  display: flex;
  margin-right: 14%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .profile img{
  height: 240px;
  width: 220px;
  z-index: 4;
}

.about .profile a{
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 15%;
  border-radius: 40px;
  box-shadow: 0 0 5px 5px var(--secondary-color);
  transition: 0.3s;
  font-weight: 400;
}

.about .profile a:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  letter-spacing: 1px;
}

/* ========================= PROJECTS ============================= */
.projects{
  height: 100vh;
  padding-top: 6%;
}

.projects .heading h1{
  margin-top: 7%;
  margin-left: 10%;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 5px;
  writing-mode:vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}

/* ========================= CONTACTS ============================= */
.contacts{
  height: 100vh;
  padding-top: 6%;
}

.contacts .heading h1{
  margin-top: 7%;
  margin-left: 10%;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 5px;
  writing-mode:vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}

/* ========================== SVG ANIMATIONS ======================*/
#Vector2{
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 1));
}

/* Home page animations */
#Molecule1{
  animation: molecule 15s linear infinite;
  transform-origin: center;
  transform-box: fill-box;

}

@keyframes molecule {
  from{
    transform: rotateZ(0deg);
  }

  to{
    transform: rotateZ(360deg);
  }
}

#Molecule2{
  animation: molecules 15s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes molecules {
  from{
    transform: rotateZ(360deg);
  }

  to{
    transform: rotateZ(0deg);
  }
}

#Gear1{
  animation: gear 5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;

}

@keyframes gear{
  from{
    transform: rotateZ(0deg);
  }

  to{
    transform: rotateZ(360deg);
  }
}

#Gear2{
  animation: gear1 5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes gear1{
  from{
    transform: rotateZ(360deg);
  }

  to{
    transform: rotateZ(0deg);
  }
}

#Micro{
  animation: micro 1s infinite alternate;
}

@keyframes micro{
  0%{
    transform: translateY(0);
  }

  100%{
    transform: translateY(-5px);
  }
}

#Arm{
  animation: arm 2s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes arm{
  0%{
    transform: rotate(-5deg);
  }

  70%{
    transform: rotate(2deg);
  }
}

#Leaf1{
  animation: leaf 1s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes leaf{
  0%{
    transform: rotate(-10);
  }

  70%{
    transform: rotate(1deg);
  }
}

#Leaf2{
  animation: leaf2 2s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes leaf2{
  0%{
    transform: rotate(-2deg);
  }

  70%{
    transform: rotate(2deg);
  }
}
#Foot{
  animation: foot 1s infinite alternate;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes foot{
  0%{
    transform: rotate(-2deg);
  }

  70%{
    transform: rotate(2deg);
  }
}

#Vector_5, #Vector_8{
  fill: #3d4dbd;
}

#code{
  animation: code 1s infinite linear alternate;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes code{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(10px);
  }
}
/* ========================== MEDIA QUERIES =======================*/
@media(max-width: 1024px){
  .home_title{
    z-index: 5;
  }
  .home svg{
    height: 70%;
    width: 70%;
    margin-top: 15%;
    margin-left: -10%;
    z-index: 4;
  }

}


@media(max-width: 810px){
  svg{
    display: none;
  }

  .toggle{
    display: block;
  }

  .menu-wrap .toggler{
    z-index: 19;
  }

  .menu-wrap .hamburger{
    z-index: 18;
  }

  /* Changing size of logo */
  .logo{
    font-size: 20px;
    right: 20px;
    top: 3px;
    z-index: 20;
  }

  .home_title{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: auto;
    padding: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .btn {
    margin: 50px;
  }
  
  .menu {
    position: fixed;
    min-height: 100vh;
    right: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    margin: auto;
  }

  .menu.active{
    right: 0;
  }
  
  .menu span{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: block;
    transform-origin: bottom left;
    transition: 0.5s ease-in-out;
    transform: rotate(-90deg);
  }

  .menu span:nth-child(1){
    background-color: #66FCF1;
    transform: rotate(-90deg);
    transition-delay: 0.2s;
  }

  .menu span:nth-child(2){
    background-color: #45a29e;
    transform: rotate(-90deg);
    transition-delay: 0.1s;
  }

  .menu span:nth-child(3){
    background-color: #1A1A1D;
    transform: rotate(-90deg);
    transition-delay: 0s;
  }

  .menu.active span:nth-child(1){
    z-index: 1;
    transition-delay: 0s;
    
  }

  .menu.active span:nth-child(2){
    z-index: 2;
    transition-delay: 0.1s;
  }

  .menu.active span:nth-child(3){
    z-index: 3;
    transition-delay: 0.2s;
    
  }

  .menu.active span{
    transform: rotate(0deg);
  }

  .menu .nav_links{
    z-index: 100;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0s;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .menu.active .nav_links{
    visibility: visible;
    opacity: 2;
    transition-delay: 0.4s;
  }

  .menu .nav_links li{
    padding: 20px;
    font-size: 35px;
  }

  .home .home_title{
    margin-top: 25%;
    margin-bottom: 5%;
  }

  .home .social-media{
    margin: 0;
    padding: 0;
    margin-bottom: 15%;
  }

  ::-webkit-scrollbar{
    width: 4px;
  }

  .about{
    padding-top: 18%;
  }

  .projects{
    padding-top: 18%;
  }

  .contacts{
    padding-top: 18%;
  }

  /* ================ About mobile view =================*/

  .about{
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  .about .profile{
    margin-top: 10%;
  }

  .about .profile .img-btn{
    margin-top: 10%;
    margin-left: 20%;
  }

  .about .profile h1{
    font-size: 30px;
  }

  .about .profile h1 span:nth-last-of-type(1){
    margin-left: 0;
  }


}