@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: black;
  background-color: #1A1A1D;
  scroll-behavior: smooth;  
  overflow: hidden;
}
/* =============NAVIGATION BAR DESKTOP ===========================*/

.nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #1A1A1D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.6s;
  z-index: 19;
}

.logo{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 15px;
  padding-left: 50px;
  color: #fff;
}

.nav_links{
  top: 5px;
  left: 55%;
  display: flex;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 4px;
  padding: 15px;
  padding-right: 30px;
  list-style-type: none;
}

.nav_links li{
  padding-right: 50px;
}

.nav_links li a{
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

.nav_links li a:hover{
  color: #66FCF1;
  transition: 0.5s;
}

.nav_links li a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #66FCF1;

  transform: scale(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.nav_links li a:hover::after{
  transform: scaleX(1);
}

/* =================== NAVIGATION MOBILE VIEW ========================*/

.toggle{
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 83%;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger{
  position: absolute;
  top: 0;
  left: 83%;
  z-index: 1;
  width: 55px;
  height: 50px;
  padding: 1rem;
  background: #1A1A1D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div{
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #66FCF1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after{
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 100%;
  background: inherit;
}

.menu-wrap .hamburger > div::after{
  top: 10px;
}

/* TOGGLER ANIMATE */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* TURN LINES INTO X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after{
  top: 0;
  transform: rotate(90deg);
}

/* ROTATE ON HOVER */
.menu-wrap .toggler:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}

/* =================== HOME PAGE ==============================*/
.home{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home svg{
  position: absolute;
  left: 50%;
  margin: 6%;
}

.home_title{
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 45%;
}

.home_title h2{
  color: #fff;
  padding: 10px;
}

.home_title span{
  color: #66FCF1;
  font-size: larger;
  font-weight: 900;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #66FCF1;
}

/* Button */
.btn {
  cursor: pointer;
  color: #fff;
  width: 150px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  font-weight: 500;
  border-color: #66FCF1;
  border-width: 1px;
  outline: none;
  border-radius: 40px;
  background-color: #1A1A1D;
  padding: 6px 15px;
  transition: 0.3s;
}

.btn:hover{
  box-shadow: inset 150px 0 0 0 #66FCF1 ;
  cursor: pointer;
  color: #000;
  border-color:  #66FCF1;
  font-weight: 500;
}

/* ========================== MEDIA QUERIES =======================*/

@media(max-width: 768px){
  svg{
    display: none;
  }

  .toggle{
    display: block;
  }

  .menu-wrap .toggler{
    z-index: 19;
  }

  .menu-wrap .hamburger{
    z-index: 18;
  }

  /* Changing size of logo */
  .logo{
    font-size: 20px;
    right: 20px;
    top: 3px;
    z-index: 20;
  }

  .home_title{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: auto;
    padding: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .btn {
    margin: 50px;
  }
  
  .menu {
    position: fixed;
    min-height: 100vh;
    
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 29, 0.98);
    display: grid;
    place-items: center;
    margin: auto;
    z-index: 11;
    transition: 0.7s;
  }

  .menu .nav_links{
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .menu .nav_links li{
    padding: 20px;
    font-size: 35px;
  }

  .menu.active{
    left: 0;
    transition: 0.7s;
  }
}